{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJSHOP</title>
    <link rel="stylesheet"> 
    <style>
        .banner > .container > h2{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

    <div class="banner">
        <div class="container">
            <h2>Selamat datang di DJSHOP!</h2>
        </div>
    </div>

    <section class="featured-Produk">
        <div class="container">
            <h2>Description</h2>
            <p>{{ Description }}</p>
            <h2>Produk Unggulan</h2>
            <ul>
                {% for product in list_produk %}
                    <li>{{ product }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    

    <section class="contact">
        <div class="container">
            <h2>Hubungi Kami</h2>
            <p>Jika Anda memiliki pertanyaan atau masukan, jangan ragu untuk menghubungi kami melalui:</p>
            <address>
                <p>Alamat: {{ Alamat }}</p>
                <p>Email: {{ Email }}</p>
                <p>Telepon: {{ Telepon }}</p>
            </address>
        </div>
    </section>

    <footer>
        <div class="container">
            <h5>Name: {{ Name }}</h5>
            <h5>Class: {{ Kelas }}</h5>
        </div>
    </footer>
</body>
</html>


<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jumlah</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        {% for product in products %}
            <tr>
                <td>{{ product.Name }}</td>
                <td>{{ product.Jumlah }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.date_added }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
   

<br />
   <a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
<p>Kamu telah menambahkan {{ products | length }} produk.</p>
{% endblock content %}